.wrapper {
  background-color: white;
  margin: 10px 5px;
  padding: 5px 0;
}

.image {
  width: 100%;
  max-height: 70%;
  object-fit: contain;
}

.name {
  font-size: 1.6rem;
}
.locality {
  font-size: 1.2rem;
}
.price {
  font-size: 1.2rem;
  font-weight: bold;
}
