.wrapper {
  height: 100px;
  display: flex;
  // background-image: url();
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: 1px solid black;
  position: relative;
  &:after {
    content: 'No image';
    position: absolute;
    bottom: 0;
    font-size: 1.6rem;
  }
}

.image {
  width: 100%;
}
